{%extends 'base.html'%}
{%block content%}


<div class="container d-flex justify-content-center jumbotron jumbotron-fluid my-2 py-4">
    <form class="form-inline" action="search" method="get" >
        <input class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" type="text" name="q" placeholder="Search For Torrent">
        <button type="input" class="btn btn-primary  mb-2">Search</button>
    </form>
</div>

        <h4>Recent Uploads</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Added On</th>
            <th>Link</th>
            <th>Uploaded By</th>
        </tr>
    </thead>


    <tbody>
        {% for tFile in tFiles %}
        <tr>
            <td>{{tFile.name}}</td>
            <td>{{tFile.uploadTime}}</td>
            <td><a href="media/{{tFile.location}}">Download</a</td>
            <td>{{tFile.uploader}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{%endblock content%}
