{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block content %}

<div class="container bg-info "  ; ">
        <form class="form-inline" action="/login/" method="post">
            {% csrf_token %}

            <div class="row bg-primary" >
                <div class="col-lg-6">
                    <label for="username">Username: </label>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control mb-2 mr-sm-2" name="username" id="username" placeholder="User Name">
                </div>



                <div class="col-lg-6">
                    <label for="password">Password:</label>
                </div>
                <div class="col-lg-6">
                    <input type="password" class="form-control mb-2 mr-sm-2" name="password" id="password" placeholder="Password">
                </div>

                <div class="col-12">
                    <div class=" d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary mr-2">Login</button>
                    </div>

                </div>






            </div>





        </form>
</div>

{% endblock %}
