{% extends 'base.html' %}

{% block content %}


<div class="container-fluid">
    <h4>Hi {{request.user.username}}, These are the files uploaded by you.</h4>
</div>

<div class="container-fluid">
    <table class="table table-default" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Added On</th>
                <th>Link</th>
            </tr>
        </thead>

        {% for tFile in tFiles %}
        <tbody>
            <tr>
                <td>{{tFile.name}}</td>
                <td>{{tFile.uploadTime}}</td>
                <td><a href="/media/{{tFile.location}}">Download</a</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

</div>
{% endblock content %}
