{% extends 'base.html' %}
{% block content %}
<div class="container d-flex justify-content-center jumbotron">
    <form method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-lg-6" "col-md-9">
                <label for="id_username">Username:</label>
                <input type="text" name="username" value="" maxlength="150" autofocus required id="id_username">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" "col-md-9">

                <label for="id_password1">Password:</label>
                <input type="password" name="password1" required id="id_password1">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" "col-md-9">

                <label for="id_password2">Confirm:</label>
                <input type="password" name="password2" required id="id_password2">


            </div>
        </div>

            <p style="color: red">This password is too short. It must contain at least 8 characters.</p>
            <p style="color: red">This password is too common.</p>
            <p style="color: red">This password is entirely numeric.</p>


            <div class="d-flex justify-content-end">
                <button class="btn btn-primary" type="submit">Sign up</button>
            </div>
    </form>

</div>
{% endblock %}
